.menu-title {
  padding: 22px 20px 20px;
  font-size: 14px;
  line-height: 1;
  background: none;
  color: #c1c1c1;
  transition: all .3s ease;
}
.header-logo {
    height: 50px;
    width: auto;
}
.header-search {
  position: absolute;
  width: 260px;
  top: 17px;
  right: 100px;
}

.header-avatar {
    position: absolute;
    right: 10px;
    top: 10px;
}